parameters:
    webedit:
        page:
            directory: %vendor.webedit.directory%/page
    locale:
        - %webedit.page.directory%/locale
services:
    - WebEdit\Page\Facade
    - WebEdit\Page\Repository
    - WebEdit\Page\Form\Factory