admin:
    module: Pages
    presenter:
        action:
            add: Add page
            edit: Edit page
front:
    module: Page
form:
    container:
        group: Page
entity:
    id:
        label: ID
    content:
        label: Content