presenter:
	module: Pages
	action:
		add: Add page
		edit: Edit page
		view: View page
form:
	container:
		group: Page
		property:
			content:
				label: Content
				placeholder: Fill content of this page
