presenter:
	module: Stránky
	action:
		add: Přidat stránku
		edit: Upravit stránku
		view: Zobrazit stránku
form:
	container:
		group: Stránka
entity:
	content:
		label: Obsah
		placeholder: Vyplňte obsah této stránky
