module: Stránky
admin:
    presenter:
        action:
            add: Přidat stránku
            edit: Upravit stránku
front:
    module: Stránka
form:
    container:
        group: Stránka
entity:
    content:
        label: Obsah
        placeholder: Vyplňte obsah této stránky