admin:
	presenter:
		module: Pages administration
		action:
			add: Add page
			edit: Edit page
front:
	presenter:
		module: Page
form:
	container:
		group: Page
entity:
	content:
		label: Content
		placeholder: Fill content of this page
